.editor {
  position: relative;
  flex-grow: 1;
  margin: .5em 0;

  font-size: 14px;
  line-height: 1.25em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  background-color: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1)
            , 0 0 2px rgba(0, 0, 0, .1);
}
.editor-scrollbox {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.editor-textarea,
.editor-highlight,
.editor-caret-layer
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: block;
  padding: .5em 1em .5em 3em;
  margin: 0;
  border-width: 0;
  outline-width: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  overflow: hidden; /* inconsistent scroll bars mess up the width */
  white-space: pre-wrap;
  word-wrap: break-word; /* word-wrap  = overflow-wrap */
  tab-size: 4;
  background: transparent;
}
.editor-highlight {
  z-index: 2;
  pointer-events: none;
  padding-left: .5em; /* line numbers */
}
.editor-textarea {
  z-index: 0;
  resize: none;
  opacity: 0;
}


.editor-caret-layer {
  /* Caret layer contains caret and selection.
   * Selection should be underneath highlight layer (z-index),
   * caret above. */
  position: static;
  pointer-events: none;
  color: transparent;
}
@keyframes caretBlink {
  0% { opacity: 1; }
  40% { opacity: 1; }
  60% { opacity: 0; }
  100% { opacity: 0; }
}
.editor-caret {
  position: relative;
  z-index: 100;
  display: inline;
  border: 1px solid white;
  border-width: 3px 1px;
  margin: -3px -1px;
}
.editor-caret.blink {
  animation: caretBlink 1s linear infinite alternate;
  animation-delay: .5s;
}
.editor-textarea:not(:focus) ~ .editor-caret-layer .editor-caret {
  display: none;
}
.editor-selection {
  padding: 2px;
  border-radius: 2px;
}
.editor-selection:empty {
  display: none;
}


.editor-highlight .line {
  display: flex;
  border-radius: 2px;
}
.editor-highlight .line.current {
  background-color: #eee;
  box-shadow: 0 0 0 1px #ddd;
}
.editor-highlight .line:not(.current) {
  transition: .1s background, .1s box-shadow;
}
.editor-highlight .line.current::before {
  content: "➡";
  position: relative;
  left: -.5em;
  font-weight: bold;
  font-size: 2em;
  width: 0;
}
.editor-highlight .lineno {
  flex: 0 0 auto;
  width: 2em;
  padding-right: .5em;
  margin-right: .5em;
  border-right: 1px solid #ddd;
  text-align: right;
  word-wrap: normal; /* word-wrap  = overflow-wrap */
  color: grey;
}
.editor-highlight .lineno + span {
  max-width: calc(100% - 2.5em);
}
