.token.keyword {
    color: #06e;
    font-weight: bold;
}
.token.identifier {
    color: green;
}
.token.punctuation {
    color: #652;
}
.token.number {
    color: #a0f;
}

.editor-textarea::-moz-selection {
    background-color: #999;
}
.editor-textarea::selection {
    background-color: #999;
}


/*** DARK ***/
/*
.editor-container {
    background-color: #404038;
    border-width: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .25);
}
.token.keyword {
    color: #6cf;
    font-weight: bold;
}
.token.identifier {
    color: #8f8;
}
.token.punctuation {
    color: #fec;
}
.token.number {
    color: #f8f;
}
/**/

/*** Monokai ***/
.editor {
    color: #f8f8f2;
    background: #272822;
    /*text-shadow: 0 1px rgba(0, 0, 0, 0.3);*/
}
.editor-caret {
    border-color: #f8f8f2;
}
.editor-textarea::-moz-selection {
    background-color: #49483e;
}
.editor-textarea::selection {
    background-color: #49483e;
}
.editor-highlight .line.current {
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .2);
}
.editor .lineno {
    border-color: #444;
}
.token.keyword {
    color: #f92672; /* red-ish */
    font-weight: normal;
}
.token.identifier {
    color: #a6e22e; /* green */
}
.token.identifier.builtin {
    color: #66d9ef;
}
.token.comment {
    color: #75715e;
}
.token.punctuation {
    color: #f8f8f2; /* white */
}
.token.boolean,
.token.number {
    color: #ae81ff; /* purple */
}
