.root {
  position: relative;

  font-family: var(--font-family-mono);
  font-size: inherit;
  line-height: 1.25em;
}

.scrollbox {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: inherit;

  > div {
    position: relative;
    min-height: 100%;
  }
}

.textarea,
.highlight,
.caretLayer
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: block;
  padding: .5em 1em .5em 5.5ch;
  margin: 0;
  overflow: hidden; /* inconsistent scroll bars mess up the width */

  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  background: transparent;

  white-space: pre-wrap;
  word-wrap: normal; /* word-wrap = overflow-wrap */
  overflow-wrap: normal;
  word-break: normal;
  tab-size: 4;
}
.highlight {
  z-index: 2;
  pointer-events: none;
  padding-left: 0.5ch; /* line numbers */
  background-color: transparent !important;
  user-select: none !important;
}
.textarea {
  z-index: 0;
  resize: none;
  opacity: 0;
  height: 100%;
}


.caretLayer {
  position: static;
  pointer-events: none;
  color: transparent;
}
@keyframes caretBlink {
  0% { opacity: 1; }
  40% { opacity: 1; }
  60% { opacity: 0; }
  100% { opacity: 0; }
}
.caret {
  border: 1px solid black; /* caret color */
  margin: 0 -1px;
}
.caret.blink {
  animation: caretBlink .6s linear infinite alternate;
  animation-delay: .5s;
}
.textarea:not(:focus) ~ .caretLayer .caret {
  display: none;
}
.selection {
  border-radius: 2px;
}
.selection:empty {
  display: none;
}
