.root {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em 1em 0 1em;
  line-height: 1.5em;

  user-select: text;

  p, ul, h3, h4, .code {
    margin: 0 0 1em;
  }

  ul {
    padding: 0 1.5em;
    list-style-type: square;
    color: #999;
  }
}

.code {
  > header {
    display: flex;
    justify-content: stretch;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: #444;
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    > span {
      flex: 1 1 auto;
      padding: 0 .5em;
      color: #ccc;
    }

    button {
      width: 1.5rem;
      appearance: none;
      background-color: #888;
      color: black;

      border-top-right-radius: var(--border-radius);
      border: none;

      &:hover, &:focus, &:active {
        background-color: #aaa;
      }
    }
  }
  code {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
}
