.root {
  margin: 1em;
  padding: .5em 1em;
  overflow: auto;
  white-space: normal;

  border-radius: var(--border-radius);
  background-color: #fff2;

  scrollbar-color: #3337 #fff2;
  scrollbar-width: 10px;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: #fff2;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #3337;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 999px;
  }

  > p {
    margin: 0;
    font-size: .85em;
    line-height: 1.6em;
    // border-top: 1px dotted #ccc;
    user-select: text;

    &:last-child {
      font-weight: bold;
    }
    &:first-child {
      font-weight: normal;
      border-top-width: 0;
    }
  }
}

.info {color: inherit}
.error {color: #a00}
