.root {
  margin: 0;
  padding: .5em 1em;
  overflow: auto;
  font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  white-space: normal;
}

.root > p {
  margin: 0;
  font-size: .85em;
  line-height: 1.6em;
  border-top: 1px dotted #ccc;
  user-select: text;
}
.root > p:last-child {
  font-weight: bold;
}
.root > p:first-child {
  font-weight: normal;
  border-top-width: 0;
}

.info {color: inherit}
.error {color: #a00}
