.panel {
  padding: .5em;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.panel > header {
  display: flex;
  align-items: center;
  padding: 0 .25em;
  color: #444;
  text-shadow: 1px 1px 0 white;
}
.panel > header > h2 {
  margin: 0;
  padding: 0 .5em;
  font-weight: normal;
  display: inline-block;
}
.panel > header::before,
.panel > header::after
{
  content: "";
  display: inline-block;
  vertical-align: middle;
  border: 1px solid white;
  border-color: #ddd white white #ddd;
}
.panel > header::before {
  width: 2em;
}
.panel > header::after {
  flex: 1;
}

.panelInner {
  margin-top: .5em;

  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  background-color: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1),
              0 0 2px rgba(0, 0, 0, .1);
}

.editor {
  flex: 1 1 auto;
}
.buttonRow {
  display: flex;
}
.button {
  composes: button from "../button.module.css";
  flex: 1 1 auto;
  margin: .5em 0 .5em .5em;
}
.button:last-child {
  margin-right: .5em;
}
.nohover {
  composes: nohover from "../button.module.css";
}
.iconButton {
  composes: iconButton from "../button.module.css";
  flex: 0 0 0;
}
.iconButton + .iconButton {
  margin-left: 0;
}
.runButton {
  font-weight: bold;
  width: 9em;
  min-width: 9em;
  max-width: 9em;
  flex: 9em 0 0; /* width = 3x .iconButton */
}
