@use "../button.module.scss";

.movementControls, .itemControls {
  padding: 1rem;
  display: flex;
  gap: .5em;
}
.itemControls {
  position: absolute;
  inset: 5rem 0 5rem auto;
  // grid-area: actions;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.movementControls {
  grid-area: movement;
  place-self: end end;

  display: grid;
  grid-template: ". forward ." 1fr "left back right" 1fr / 1fr 1fr 1fr;

  button:nth-child(1) { grid-area: left }
  button:nth-child(2) { grid-area: forward }
  button:nth-child(3) { grid-area: back }
  button:nth-child(4) { grid-area: right }
}

.button {
  @extend .button;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  // margin: .5rem;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, .33);
  color: white;

  border: 1px solid rgba(255, 255, 255, .5);

  cursor: pointer;
  filter: grayscale(0);
  transition-property: filter, background, color, text-shadow, box-shadow, opacity;

  &:disabled {
    color: rgba(255, 255, 255, .8);
    filter: grayscale(1);
  }

  &:not(:disabled):not(.nohover):hover {
    background-color: rgba(255, 255, 255, .67);
  }

  > svg {
    transition-property: filter, background, color, text-shadow, box-shadow, opacity;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .33))
  }
  > img {
    flex: 0 0 auto;
    transform: scale(.667);
  }
  > img + svg {
    position: absolute;
    font-size: .75em;
    right: .25em;
    bottom: .25em;
  }
}
