.movementControls, .itemControls {
  position: absolute;
  right: 0;
  padding: 1rem;
  display: flex;
}
.movementControls {
  bottom: 0;
  align-items: flex-end;

  > div {
    display: flex;
    flex-direction: column;
  }
}
.itemControls {
  top: 5rem;
  bottom: 5rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  margin: .5rem;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, .2);
  color: white;
  border: none;
  outline: none;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, .5);
  box-shadow: inset 0 0 1em rgba(255, 255, 255, .33),
              1px 1px .5em rgba(0, 0, 0, .33);

  cursor: pointer;
  filter: grayscale(0);
  transition-property: filter, opacity, color, box-shadow;

  &:hover, &:active, &:focus {
    box-shadow: inset 0 0 2em rgba(255, 255, 255, .5),
                1px 1px .75em rgba(0, 0, 0, .33);
  }
  &:disabled {
    cursor: default;
    pointer-events: none;
    color: rgba(255, 255, 255, .8);
    opacity: .667;
    filter: grayscale(1);
    box-shadow: inset 0 0 2em rgba(255, 255, 255, .33),
                1px 1px .5em rgba(0, 0, 0, .25);
  }

  > svg {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .33))
  }
  > img {
    flex: 0 0 auto;
    transform: scale(.667);
  }
  > img + svg {
    position: absolute;
    font-size: .75em;
    right: .25em;
    bottom: .25em;
  }
}
