@charset "utf-8";

/***********************************
 *** dark color scheme "Monokai" ***
 ***********************************/

.highlight, .editor {
  background: #272822;
  color: #f8f8f2;
  /*text-shadow: 0 1px rgba(0, 0, 0, 0.3);*/
}
.editor-caret {
  border-color: #f8f8f2;
}
.editor-selection {
  background-color: #49483e;
}
.editor-textarea:not(:focus) ~ .editor-caret-layer .editor-selection {
  background-color: #39382e;
}

.highlight .current {
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .2);
}
.highlight .current .lineno::after {
  color: #d8d8d2; /* arrow */
}
.highlight .lineno {
  border-color: #444;
}

.whitespace {
  color: #575852;
}
.token.keyword {
  color: #f92672;
  font-weight: normal;
}
.token.identifier {
  color: #66d9ef;
}
.token.identifier.builtin {
  color: #a6e22e;
}
.token.comment {
  color: #75715e;
}
.token.comment .whitespace {
  color: #474842;
}
.token.punctuation {
  color: #f8f8f2;
}
.token.boolean,
.token.number {
  color: #ae81ff;
}
