.loading, .error, :global(#bad-browser-warning) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  transition: none;
}
.loading {
  font-size: 40px; /* spinner size */
  color: #49c;
}
.error, :global(#bad-browser-warning) {
  color: #d54;
  white-space: pre;
}
