@charset "utf-8";

  @font-face {
  font-family: "FiraCode";
  src: url("/assets/FiraCode-VF.woff") format("woff");
}

* {
  box-sizing: border-box;
  transition-duration: .25s;
  transition-property: background, color, text-shadow, box-shadow, opacity;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto, Open Sans, Ubuntu, Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  background-color: #f7f7f7;
  user-select: none;
}

code {
  font-family: "FiraCode", monospace;
}

button {
  appearance: none;
}
button:not(:disabled) {
  cursor:  pointer;
}
input[type="range"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;

  &::-moz-range-track {
    border: 1px solid #666;
    background: #aaa;
    height: 4px;
    border-radius: 4px;
  }
  &::-webkit-slider-runnable-track {
    border: 1px solid #666;
    background: #aaa;
    height: 4px;
    border-radius: 4px;
  }
  &::-moz-range-thumb {
    width: 2em;
    height: 1em;
    border-radius: 1em;
    border: 1px solid #888;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2em;
    height: 1em;
    border-radius: 1em;
    border: 1px solid #888;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    margin-top: calc(-.5em + 1px);
  }
}
input[type="number"] {
  appearance: textfield;
  font-size: inherit;
  line-height: inherit;
  height: inherit;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

::-moz-focus-inner,
::-moz-focus-outer {
  border-width: 0;
  outline-width: 0;
}

.hidden {
  display: none;
  /*position: fixed;*/
  /*left: -99999px;*/
}

a {
  color: #55f;
  text-decoration: none;

  &:hover, &:focus, &:active {
    outline: none;
    color: #33f;
    text-decoration: underline;
  }
}
